<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<button data-controller='contacts' data-action='contacts#import'>Import</button>

<%= turbo_stream_from :contacts %>

<div id="contacts">
  <% @contacts.each do |contact| %>
    <%= render contact %>
    <p>
      <%= link_to "Show this contact", contact %>
    </p>
  <% end %>
</div>

<%= link_to "New contact", new_contact_path %>
